<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>


    <script src="login.html"></script>

    <!--login css-->
    <link rel="stylesheet" type="text/css" href="login.css">

</head>


<body>

<div id="login">

    <!-- /.login-logo -->

        <img src="http://his.sliit.lk/Laboratory/assets/images/newlogofinal.png" style="width:200px;"/>

    <form id="f1">
        Username: <input type="text" id="username" ng-model="username"><br><br>
        Password: <input type="password" id="password" ng-model="password"><br><br>
        <button type="button" ng-click="submit()">Login</button>

    </form>
</div>



</body>
</html>